{% extends 'base.html.twig' %}

{% block body %}
    <h1>Добавить книгу</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" value="Сохранить" />
    {{ form_end(form) }}

    <a class="btn btn-secondary" href="{{ path('homepage') }}">К списку книг</a>

{% endblock %}
